<!DOCTYPE html>
<html>
    <head>
        
        <title>List My Professor</title>
        
    </head>
<body>

<form action="/api/student/professors" method="post">
    <p>
        
        Provide your name and ssn to find your professsors
        
    </p>
  Name:<br>
      <input 
        type="text" 
        name="name"
        required>
        <br>
  SSN:<br>
    <input 
        type = "number" 
        name = "ssn" 
        required>
  <br>
  <input 
    type="submit" 
    value="Submit">
    
</form> 
</body>
</html><x></x>